[submodule "cpp/makham"]
	path = cpp/makham
	url = git@github.com:Felspar/makham.git
[submodule "cpp/doctest"]
	path = cpp/doctest
	url = git@github.com:onqtam/doctest.git
[submodule "cpp/aixlog"]
	path = cpp/aixlog
	url = git@github.com:badaix/aixlog.git
