{erl_opts, [debug_info]}.
{eunit_opts, [verbose]}.
{eunit_tests, [{dir, "test"}]}.
{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_excl_mods, [af_repl, rebar3_actorforth, rebar3_actorforth_compile]}.
{cover_opts, [verbose]}.
{cover_spec_file, "test/cover.spec"}.
{ct_opts, [{dir, "test"}]}.
{deps, [
    {erlang_python, "1.8.1"},
    {jsx, "3.1.0"}
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, "1.4.0"}
        ]}
    ]}
]}.

